*
{
    margin: 0px;
    padding: 0px;

    color: white;
}

body
{
    overflow: hidden;
    background-color: #478f;
}

a
{
    text-decoration: none;
}

a[post-link]
{
    font-family: Courier;
    text-decoration: underline;
    color: yellow;
    transition: color .5s ease;
}

a[post-link]:visited
{
    color: lightgreen;
}

a[post-link]:hover
{
    color: darkgreen;
}

.banner[main-banner-box]
{
    min-height: 330px;
    background-position:50%;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    bottom-padding: 0px;
}

.menu
{
    margin: 4px;
    display: inline-flex;
    align-items: center;
    min-width: 40%;
}

.menu[main-menu-box]
{
    justify-content: flex-end;
}


.menu[page-title]
{
    justify-content: flex-start;
}

.menu-item
{
    font-size: 3em;
    display: inline-block;
    padding: 4px 20px;
}

.menu-item[page-title]
{
    font-family: Lithe;
}

@media (max-device-width: 767px)
{
    .menu-item[main-menu-item]
    {
        display: block;
        visibility: hidden;
    }

    .main-page-container
    {
        margin: 1%;
    }
}

@media (min-device-width: 768px)
{
    .banner[main-banner-box]
    {
        min-width: 1700px;
        height: auto;
    }
    
    .menu[main-menu-box]
    {
        margin: 8px;
    }

    .main-page-container
    {
        margin: 24px;
        max-width: 60%;
    }
}

.main-page-container
{
    display: flex;
}

.text-box-preview
{
    display: block;
    background-color: #2274ab;
    color: darkyellow;
    padding: 4px;
}

.text-box-title
{
    font-size: 2.6em;
}

.text-box-subtitle
{
    font-size: 1.4em;
    color: lightgrey;
    text-decoration: none;
}

.full-page-text-box
{
    margin: 8px;
    font-size: 1.4em;
}

.full-page-title
{
    display: block;
    font-size: 4.20em;
    text-decoration: underline;
    margin: 18px;
}

.sidebar
{
}

.sidebar-content
{
}
