*
{
    margin: 0px;
    padding: 0px;

    color: white;
}

body
{
    overflow: hidden;
    background-color: #478f;
}

.banner[main-banner-box]
{
    min-height: 330px;
    background-position:50%;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
    bottom-padding: 0px;
}

.menu
{
    margin: 4px;
    display: inline-flex;
    align-items: center;
    min-width: 40%;
}

.menu[main-menu-box]
{
    justify-content: flex-end;
}


.menu[page-title]
{
    justify-content: flex-start;
}

.menu-item
{
    font-size: 3em;
    display: inline-block;
    padding: 4px 20px;
}

.menu-item[main-menu-item]
{
    
}

@media (max-device-width: 767px)
{
    .menu-item[main-menu-item]
    {
        display: block;
        visibility: hidden;
    }
}

@media (min-device-width: 768px)
{
    .banner[main-banner-box]
    {
        min-width: 1700px;
        height: auto;
    }
    
    .menu[main-menu-box]
    {
        margin: 8px;
    }
}

.sidebar
{
}

.generic-container
{
    padding: 5px;
    background-color:
}

.text-box-preview
{
}

.full-page-text-box
{
}

.sidebar-content
{
}
